/* 
### Primary

- Orange: hsl(25, 97%, 53%)

### Neutral

- White: hsl(0, 0%, 100%)
- Light Grey: hsl(217, 12%, 63%)
- Medium Grey: hsl(216, 12%, 54%)
- Dark Blue: hsl(213, 19%, 18%)
- Very Dark Blue: hsl(216, 12%, 8%)
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 15px;
  font-family: "Overpass", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  color: hsl(0, 0%, 100%);
  font-size: 2rem;
}

p,
.number {
  color: hsl(216, 12%, 54%);
}

p {
  line-height: 25px;
}
.container {
  background-color: hsl(216, 12%, 8%);
  width: 425px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card,
.thank-you-card {
  background-color: hsl(213, 19%, 18%);
  width: 375px;
  border-radius: 25px;
  margin: 25px;
}

.img-icon-container,
.number {
  background-color: hsl(213, 19%, 25%);
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.number:hover {
  background-color: hsl(25, 97%, 53%);
  color: hsl(0, 0%, 100%);
  cursor: pointer;
}

.active {
  background-color: hsl(216, 12%, 54%);
  color: hsl(0, 0%, 100%);
  font-weight: 700;
}
.img-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 40px;
}

.text-container {
  margin: 40px;
  margin-bottom: 25px;
}

.text-container p {
  margin-top: 20px;
}

.rating-container {
  margin: 0px 20px 0px 20px;
}

.rating-flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.number {
  font-weight: 700;
}

.btn {
  width: 80%;
  border-radius: 25px;
  background-color: hsl(25, 97%, 53%);
  color: hsl(0, 0%, 100%);
  padding: 15px;
  margin: 30px 40px 30px 40px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.btn:hover {
  background-color: hsl(0, 0%, 100%);
  color: hsl(25, 97%, 53%);
  cursor: pointer;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Thank You Card */

.thank-you-img {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 40px;
}

.thank-you-rating {
  display: flex;
  justify-content: center;
  text-align: center;
}

.p-rating {
  background-color: hsl(213, 19%, 25%);
  border-radius: 15px;
  width: 45%;
  color: hsl(25, 97%, 53%);
  padding: 5px;
  margin-bottom: 35px;
}

.text-thank-you {
  text-align: center;
}

.text-thank-you p {
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 45px;
  margin-top: 15px;
}

@media screen and (min-width: 600px) {
  .container {
    width: 1440px;
  }
  .card,
  .thank-you-card {
    width: 430px;
  }
  .img-icon-container,
  .number {
    width: 50px;
    height: 50px;
  }
  .text-thank-you p {
    margin-left: 45px;
    margin-right: 45px;
  }
}
